<h3>{{question.questionText}}</h3>
<img src="{{question.questionImage}}">
<form action="/submitAnswer" method="post">
  <input type="radio" name= "selection" value="a">{{question.textA}}<br>
  <input type="radio" name= "selection" value="b">{{question.textB}}<br>
  <input type="radio" name= "selection" value="c">{{question.textC}}<br>
  <input type="radio" name= "selection" value="d">{{question.textD}}<br>
  <input type="submit" value="Submit"></a>
</form>
